./*

!.gitignore
!/*.sl
!/*.info
!/*.sh
!/*.m
!/global*
!/STAGE_*/
!/commonData
!/ext_tools
!/dev
!/dev_utils
!/dev_configs
!/docs
!/DATA_PREPARATION
!/PRESENTATION
!/CFG_*

/STAGE_*/output
/STAGE_*/input
/G_CHECKS/input
/G_CHECKS/output
!/STAGE_1/functions
!/STAGE_1/scripts
!/STAGE_2/functions
!/STAGE_2/scripts
!/STAGE_3/functions
!/STAGE_3/scripts
!/STAGE_4/functions
!/STAGE_4/scripts
!/STAGE_5/functions
!/STAGE_5/scripts
!/STAGE_6/functions
!/STAGE_6/scripts
!/STAGE_7/functions
!/STAGE_7/scripts
!/STAGE_8/functions
!/STAGE_8/scripts
!/STAGE_9/functions
!/STAGE_9/scripts
!/STAGE_10/functions
!/STAGE_10/scripts
!/templates
!/tmp_check

# use git add STAGE_*/output/CFG.mat -f

